<header style="color: white; background-color:lightseagreen">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark fixed-top">
      <div class="container-fluid" style="padding-left: 8%; padding-right: 3%;">
        <a class="navbar-brand" href="#"><img src="/public/assets/image/Sigma_Logo.svg" width="70px" height="70px"></a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0" style="font-family: 'Mitr', sans-serif; font-size: 18px;">
            <li class="nav-item">
              <a href="/home" class="nav-link px-2 text-white HoverAnim">หน้าแรก</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-white HoverAnim">คอร์สเรียน</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-white HoverAnim">ข้อมูลผู้สอน</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-white HoverAnim">ติดต่อเรา</a>
            </li>
          </ul>
          <form class="col-12 col-lg-2 mb-3 mb-lg-0 me-lg-3">
            <input class="form-control" type="search" placeholder="ค้นหา..." aria-label="Search">
          </form>
          <div class="text-start" style="font-family: 'Mitr'">
            <button type="button" class="btn btn-outline-light me-2">เข้าสู่ระบบ</button>
            <a href="./Register"><button type="button" class="btn btn-warning">สมัครเรียน</button></a>
          </div>
        </div>
      </div>
    </nav>
  </header>